.p1 {
    height: 460px;
    width: 60%;
    text-align: right;
}



.p2 {
    height: 140px;
    width: 60%;
    text-align: right;
}



.p3 {
    height: 250px;
    width: 60%;
    text-align: right;
}

    

.p4 {
    height: 80px;
    width: 60%;
    padding-bottom: 20px;
    text-align: right;
}



.p5 {
    padding-top: 10px;
    height: 120x;
    width: 60%;
    text-align: right;
}



.p6 {
    padding-top: 20px;
    height: 50x;
    width: 60%;
    text-align: right;
}



.main {
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(223, 214, 214);
}
